/* Navbar Styles */
.navbar {
    background-color: #4c51bf; /* Indigo background */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;  /* Fix the navbar at the top */
    top: 0;           /* Align it to the top */
    left: 0;          /* Align it to the left edge */
    width: 100%;      /* Make the navbar span the full width */
    z-index: 1000;    /* Ensure it stays on top of other elements */
}

.navbar .title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px; /* Add margin to the left side of the title */
}

.navbar button {
    background-color: #4c51bf;
    font-size: 16px;
    padding: 5px 10px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10px;
    width: auto;
}

.navbar-buttons{
    margin-right: 20px;
}
.navbar button:hover {
    background-color: #3b40a2; /* Optional: darker color on hover */
}
